#ifndef ARDUINO_SECRETS_H
#define ARDUINO_SECRETS_H


#define SECRET_API_ROOT <path to api root (no trailing slash)>

// Secify any number of wifi networks to connect to
// Networks will be given priority in the order they are added
// ie. the first network added will be tried first, then the second, etc.
// Be sure to remove the extra lines if you don't need them
#define ADD_WIFI_AP_DETAILS(multi) \
    multi.addAP(<ssid>, <password>); \
    multi.addAP(<ssid>, <password>); \
    multi.addAP(<ssid>, <password>); 


#endif // ARDUINO_SECRETS_H
