#ifndef ARDUINO_SECRETS_H
#define ARDUINO_SECRETS_H

#define SECRET_SSID <your wifi ssid>
#define SECRET_WIFI_PW <your wifi password>


#define SECRET_API_ROOT <path to api root (no trailing slash)>

#define ADD_WIFI_AP_DETAILS(multi) \
    multi.addAP(<ssid>, <password>); \
    multi.addAP(<ssid>, <password>); \
    multi.addAP(<ssid>, <password>); 


#endif // ARDUINO_SECRETS_H
